.form {
  & > * {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.fieldWithMsg {
  margin-bottom: 0.25rem;
}

.labelBox {
  margin-bottom: 0.25rem;
  font-size: small;
  font-weight: 600;
}

.label {
  cursor: pointer;
}

.input {
  width: 100%;
  background: transparent;
  border: 0.125rem solid #505050;
  padding: 0.5rem 0.5rem;
  border-radius: 0.25rem;

  &:focus {
    outline: 0;
    border-color: #a0a0a0;
  }
}

.emailErrorMsg {
  margin-top: 0.25rem;
  font-size: small;
  color: hotpink;
  line-height: 1.2;
}

.submit {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
  border: 0;
  background-color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  color: #000000;

  &:disabled {
    background-color: #303030;
    color: #ffffff;
    cursor: not-allowed;
  }
}
