.form {
  & > * {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.emailField {
  margin-bottom: 0.25rem;
}

.labelBox {
  margin-bottom: 0.25rem;
}

.label {
  font-size: small;
  font-weight: 600;
  cursor: pointer;
}

.input {
  width: 100%;
  background-color: transparent;
  border: 0.125rem solid #303030;
  padding: 0.5rem 0.5rem;
  border-radius: 0.25rem;

  &:focus {
    outline: 0;
    border-color: #c0c0c0;
  }
}

.emailErrorMsg {
  color: hotpink;
  margin-top: 0.25rem;
  font-size: small;
  line-height: 1.2;
}

.submit {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
  border: 0;
  cursor: pointer;
  background: #e0e0e0;
  font-weight: 600;
  color: #000;

  &:disabled {
    background: #303030;
    color: #e0e0e0;
    cursor: not-allowed;
  }
}
