.form {
  & > * {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.field {
  margin-bottom: 0.25rem;
}

.labelBox {
  margin-bottom: 0.2rem;
}

.label {
  font-size: small;
  font-weight: 600;
}

.input {
  background: transparent;
  border: 0.1rem solid #707070;
  padding: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  width: 100%;

  &:focus {
    outline: 0;
    border-color: #e0e0e0;
  }
}

.errorMsg {
  line-height: 1.2;
  color: #dc506c;
  font-size: small;
  margin-top: 0.25rem;
}

.submit {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
  background: #303030;
  border: 0;
  cursor: not-allowed;
  font-weight: 600;
}

.enabled {
  background: #e0e0e0;
  color: #000000;
  cursor: pointer;
}
